@import "bootstrap";

body {
  background: image_url('paper_fibers.pngleaves.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  background: image_url('white_texture.png');
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  background: image_url('dark_wood.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-light .navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}


.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

#navbarNav {
  flex-direction: row;
}

.navbar-light .nav-link:hover {
  background-color: white;
  color: black;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 15px;
}

